<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="mongoDbWeb" type="MongoDB.Web.Config.MongoDbWebSection, MongoDB.Web"/>
	</configSections>

	<mongoDbWeb databaseName="ASPNET_Test">
		<sessionState
			mongoCollectionName="sessions_test"
			useLock="false"
			dotNetMemoryCacheName="MongoDBSession_Test"
			memoryCacheExpireSeconds="60" />
	</mongoDbWeb>

	<system.web>
		<sessionState mode="Custom" customProvider="MongoDBSessionStateProvider" cookieName="S" timeout="1">
			<providers>
				<add name="MongoDBSessionStateProvider" type="MongoDB.Web.Providers.MongoDBSessionStateProvider" connectionString="mongodb://localhost" database="ASPNET_Test" collection="sessions_test"/>
			</providers>
		</sessionState>
	</system.web>

	<system.runtime.caching>
		<memoryCache>
			<namedCaches>
				<add name="MongoDBSession_Test"
					  cacheMemoryLimitMegabytes="0"
					  physicalMemoryLimitPercentage="0" />
			</namedCaches>
		</memoryCache>
	</system.runtime.caching>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
